Thief2_MapRemake/Intermediate/CachedAssetRegistry_0.bin
Thief2_MapRemake/Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Thief2_MapRemake/Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
/Thief2_MapRemake/Saved
/Thief2_MapRemake/Intermediate
